{% load static %}
<html>
  <link rel="stylesheet" type="text/css" href="{% static 'styles/booking.css' %}">  

  <head>
    <title>Booking</title>
  </head>
  <body>
    <form method="post">
      {% csrf_token %}
     <div> 
      <label>Service:</label>
      <select name="service">
        <option value="">Select a Service</option>
        <option value="Web Development">Web Development</option>
        <option value="AI Development">AI Development</option>
      </select>
      <br>
    </div>
     <div> 
      <br>
      <label>Day:</label>
      <select name="day">
        <option value="">Select a Day</option>
        {% for day in weekdays %}
          {% if validateWeekdays %}
            <option value="{{ day }}">{{ day }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>
    </div>
     <div>
      <br>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
     </div>
   <div>
    <form method="post">
      {% csrf_token %}
      <label>Time:</label>
      <select name="time">
        <option value="">Select a Time</option>
        {% for time in times %}
          <option value="{{ times }}">{{ time }}</option>
        {% endfor %}
      </select>
      <br>
      <br>
   </div>
   <div>
    <input type="submit" value="Submit">
   </div>
    </form>
  </body>
</html>

