<html>
  <head>
    <title>Booking</title>
  </head>
  <body>
    <form method="post">
      {% csrf_token %}
      <label>Service:</label>
      <select name="service">
        <option value="">Select a Service</option>
        <option value="Web Development">Web Development</option>
        <option value="AI Development">AI Development</option>
      </select>
      <br>
      <br>
      <label>Day:</label>
      <select name="day">
        <option value="">Select a Day</option>
        {% for day in weekdays %}
          {% if validateWeekdays %}
            <option value="{{ day }}">{{ day }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <br>
      <br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
