

<head>
 
    <link rel="stylesheet" href="index.css">
    <title>HOME</title>
</head>

<body>
    <nav class="box">
        <div id="logo">
            <img src="JAD_ONE _free-file.png" alt="logo JAD_ONE">
        </div>
        <ul>
            <li><a href="Index">Accueil</a></li>
            <li><a href="userPanel" class="btn">Espace membre</a></li>
        </ul>
    </nav>
    <header>
        <section class="text">
            <h1>Welcome to JAD ONE AI Development</h1>
            <h2>Bonjour Je suis AMIN JEHAD Developpeur En IA </h2>
            <h4>Ici Sur Mon site Vous Pouvez Prenndre un Rdv avec moi pour developper votre IA ou Votre Site Internet</h4>

        </section>
     

    </header>

    <div>
        <h2>Derniers articles sur le blog</h2>
        <h4>Recommended</h4>
    </div>

    <main class="fmain">

        <article>
            <img src="images.png" alt="AI Developement">
            <h3>AI Developement</h3>
            <a href="booking.html">Book an appointement</a>
        </article>
        <article>
            <img src="webdev.jpeg" alt="Web Developement">
            <h3>Web Developement</h3>
            <a href="booking.html">Book an appointement</a>
        </article>
       
        
    </main>


    <footer>
        <div id="logoJADONE">
            <img src="JAD_ONE _free-file.png" alt="logo JAD_ONE">
        </div>
        <ul>
            <li><a href="About-Me">About Me </a></li>
            <li><a href="contact">contact</a></li>
        </ul>
        <section>
            <h3>Follow us on </h3>
            <ul>
                <li><img src="Instagram_icon.png" alt="Instagram"></li>
                <li><a href="#">Instagram</a> </li>
                <li><img src="facebook.png" alt="Facebook"></li>
                <li><a href="#">Facebook</a> </li>
                <li><img src="twitter-removebg-preview.png" alt="Twitter"></li>
                <li> <a href="#">Twitter</a> </li>
            </ul>
        </section>
    </footer>
</body>

</html>