<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="index.css">
  
<title>JAD ONE</title>
</head>
<body>
  <h1>Welcome To JAD ONE Company</h1>
  <a href="login">LogIN</a>
  <a href="signup">signup</a>
  <ul>
    {% for appointement in appointements %}
    <li>{{ appointement.user.username }} | day: {{ appointement.day }} | time: {{ appointement.time }}</li>
    {% endfor %}
  </ul>
</body>
</html>


<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

