{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}">  

<body>

<nav class="box">
  <div>
    <h1>{{ user.last_name }} {{user.first_name}}</h1>
  </div>
  <ul>
    <li> <a href="logout" class="btn">Logout</a></li>
  </ul>
</nav>
<main class="promain">
  {% block content %}
<h1>My Appointments</h1>
<table>
    <tr>
        <th>Appointment Type</th>
        <th>Date</th>
        <th>Time</th>
    </tr>
    {% for appointment in appointments %}
    <tr>
        <td>{{ appointment.service }}</td>
        <td>{{ appointment.day }}</td>
        <td>{{ appointment.time }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

</main>

</body>