{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">  
<body>
<div class="signin-form">
  <form action="/signup" method="post">
    <h2>signup</h2>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" placeholder="Enter your username">
    </div>
     <div class="form-group">
      <label for="first_name">first name:</label>
      <input type="text" id="first_name" name="first_name" placeholder="Enter your first name ">
    </div>
    <div class="form-group">
      <label for="last_name">last name:</label>
      <input type="text" id="last_name" name="last_name" placeholder="Enter your last name">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" placeholder="Enter your Email">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="Enter your password">
    </div>
    <div class="form-group">
      <label for="password_confirm">Confirm Password:</label>
      <input type="password" name="password_confirm" placeholder="Confirm Password">
    </div>
    {% csrf_token %}
    <button type="submit">Sign up</button>
  </form>
</div>

</body>
