{% extends 'base.html' %}

{% block content %}
  {% if appointments %}
    <h2>Your appointments:</h2>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Service</th>
        </tr>
      </thead>
      <tbody>
        {% for appointment in appointments %}
          <tr>
            <td>{{ appointment.day }}</td>
            <td>{{ appointment.time }}</td>
            <td>{{ appointment.service }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>You have no appointments.</p>
  {% endif %}
{% endblock %}
